body,
html {
  background-color: #e3e9ff;
  display: flex;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.flexbox {
  display: flex;
  width: 100vw;
  min-height: 100vh;
}
.todo-div {
  width: 100%;
  max-width: 500px;
  min-width: 300px;
  margin: auto;
  position: relative;
  text-align: center;
}
@media screen and (max-width: 425px) {
  .todo-div {
    min-width: 300px;
    margin: auto 10px;
  }
}
.top-nav {
  width: 100%;
  padding: 15px 0;;
  background-color: #c441f0;
  color: #ffffff;
  box-shadow: 5px 5px 15px rgba(160, 160, 160, 0.5);
}
.top-nav.todo{
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.top-nav div{
  padding: 0 20px;
display: flex;
  align-items: center;
  justify-content: center;
}
.top-nav button{
height: 40px;
border: none;
border-radius: 0;
background: red;
color: #fff;
}

.main-card {
  margin-top: 15px;
  background-color: #ffffff;
  padding: 20px 30px;
  box-shadow: 5px 5px 15px rgba(160, 160, 160, 0.5);
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 5px;
  padding: 10px;
  color: rgb(160, 160, 160);
  display: flex;
  justify-content: space-between;
}
li label{
  display: flex;
}
li div {
  margin: auto 0;
}
.icon {
  border-color: solid;
  padding: 5px 10px;
  margin: 0;
  cursor: pointer;
}

.loading,
.message {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(150, 150, 150);
  margin: 30px auto;
}
.done {
  color: red;
}
.form-div {
  /* border: solid; */
  box-shadow: 5px 5px 15px rgba(160, 160, 160, 0.5);
  display: none;
}

.form-div-elemts {
  display: flex;
  border-top: 1px solid #000;
}

.form-div-elemts input {
  width: 100%;
  padding: 10px;
  border-radius: 0;
  border: none;
  color: rgb(150, 150, 150);
  outline: none;
}

.form-div-elemts button {
  padding: 10px;
  border-radius: 0;
  border: none;
  background-color: #c441f0;
  color: #ffffff;
  width: 20%;
}

.add-todo-btn {
  border: none;
  box-shadow: 1px 1px 1px 1px rgba(160, 160, 160, 0.5);
  position: absolute;
  bottom: -20px;
  margin-left: -50px;
  z-index: 10;
  width: 100px;
  padding: 10px;
  border-radius: 40px;
  background-color: #c441f0;
  color: #ffffff;
}

.error {
  background-color: rgba(244, 8, 0, 0.5);
  color: rgb(255, 255, 255);
}
/* login page */
.main-card .input-div {
  margin: 10px 0;
}

.main-card .input-div input {
  width: 90%;
  border: none;
  padding: 10px;
  margin-left: 0;
  border-bottom: 1px solid #c441f0;
  outline: none;
}

.main-card .input-div button {
  width: 100%;
  border: none;
  display: block;
  padding: 10px;
  margin-top: 20px;
  background-color: #c441f0;
  /* background-color: #06fa2f; */
  color: #fff;
}
